body{

margin:0;
font-family:Arial;
background:#0f172a;
color:white;

}

.menu-container{

display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

height:100vh;

}

button{

width:220px;
padding:15px;
margin:10px;

font-size:18px;

border:none;
border-radius:10px;

background:linear-gradient(135deg,#ff7a18,#ffb347);

color:white;

cursor:pointer;

transition:0.2s;

}

button:hover{

transform:scale(1.05);

}
